<%- include('header'); %>

  <%- include('transactions', { account : account }) %>

  <div class="dm-container">
    <% if (account.unique_name == 'credit' && account.balance > 0) { %>
      </br>
      </br>
      <a href="/payment" class="dm-button dm-blue">Make a Payment</a>
      </br>
    <% } %>
  </div>


<%- include('footer'); %>