<%- include('header'); %>

  <div class="dm-container">
    <h2>Transfer <!--<%=title%>--></h2>

    <% if (locals.message) { %>
      <span class="message"><%= message %></span>
    <% } %>
    <span class="error"></span>

    <form id="transferForm">
      <span>Transfer From: </span> 
      <select required>
        <option value="checking">Checking</option>
        <option value="savings">Savings</option>
      </select>
      <span> to: </span>
      <select required>
        <option value="checking">Checking</option>
        <option value="savings">Savings</option>
      </select>
      <input type="number" name="amount" id="amount" required placeholder="amount" step="0.01">
      <button type="submit">Transfer</button>
    </form>
  </div>

<%- include('footer'); %>