*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
}

a :hover {
    color: #1ab188;
}

.form {
    /*background: rgba(#13232f, .9);*/
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    /*box-shadow: 0 4px 10px 4px rgba(#13232f, .3);*/
}




li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    /*background: rgba(#a0b3b0, .25);*/
    color: green;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

li a:hover {
    background-color: blue;
    color: #ffffff;
}

li a .active a {
    background: #1ab188;
    color: #ffffff;
}


.tab-content > div:last-child {
    display: none;
}


h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    /*color: rgba(#ffffff, .5);*/
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}


label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.highlight {
    color: #ffffff;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row :after {
    content: "";
    display: table;
    clear: both;
}

> div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

> div :last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all .5s ease;
    -webkit-appearance: none;
}

.button:hover, .button :focus {
    /*background: #1ab188-dark;*/
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
